// Variables


$main-color: #42a599;
$secondary-color: #f4a42c;
$light-color: #e8e8e8;
$medium-color: #9f9f9f;
$dark-color: #414141;

$website-width: 1280px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 500px;

$transition: all 0.3s;


