// Variables

$website-width: 1280px;
$main-color: #42a599;
$secondary-color: #f4a42c;
$light-color: #e8e8e8;
$medium-color: #9f9f9f;
$dark-color: #414141;

$transition: all 0.3s;

$bg-image: url("../dist/img/1_home_big.jpg");
